<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Node and Express Demo</title>
  </head>
    <style media="screen">
      a{
        text-decoration: none;
      }
      label{
        width: 10vw;
      }
      .box{
        margin: 1vw;
      }
      textarea{
        font-size: 1em;
      }
      span{
        padding: 1vw;
      }
      input[type="submit"]{
        border: thin lightgrey solid;
        background-color: red;
        padding:1vw 2vw;
        border-radius: 1vw;
      }
    </style>

  <body>
    <a style="font-size:1.2em" href="/">Home</a> |
    <a style="font-size:1.2em" href="/allrequest">Request List</a>
